.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 0px;
}

.content {
  flex: 1;
}

.footer {
  background: #f0f2f5;
  padding: 10px 0;
}